* {
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    flex-direction: row;

}
.headerPart1{

    display: flex;
    flex-direction: column;
    background-color: aqua;
    font-weight: bold;
    color: white;
    padding-left: 10px;
    padding-right: 20px;
    height: 100vh; /* 100% of the viewport height */

}
.navbarP1{
    margin-top: 5rem;
}
.navbarP2{
    margin-top: 1rem;
}
li{
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: none;
}

.headerPart2{
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 10px;
    flex-grow:2;
    min-height: 50px; /* Set the minimum height */
    max-height: 200px; /* Set the maximum height */
}
.row1{
    display: flex;
    justify-content: space-around;
}
.textInput{ 
    width: 50%;
    border-radius: 1rem;
}

.figureH{
    padding-right: 30px;
    display: flex;
    height: 2rem;
    align-items: center;
}
.icon{
    width: 10%;
    border-radius: 1rem;
    margin-right: 10px;
}
.row2{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.buttonR{
    border-radius: 1rem;
    background-color: #49b4ff;
    width: 5rem;
    height: 2rem;
    border: none;
    margin-right: 1rem;
}


